@model IEnumerable<TechTree.Application.Dtos.ContentDtos.ContentsDto>



<div class="row mt-5">
    
    <h4 class="text-center">Contents</h4>
    <div class="mb-3">
            <a asp-action="Add" asp-controller="Content" asp-route-id="@ViewBag.categoryItemId" class="btn btn-primary btn-sm">New Content</a>
            <a asp-action="Index" asp-controller="CategoryItem" asp-route-id="@ViewBag.categoryItemId" class="link-warning m-lg-5">Back to Category Items</a>
    </div>
    
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header text-danger"><strong>@item.Title</strong></div>
            <div class="card-body">
                <h6 class="card-title text-primary">Video Link: <span class="text-info">@item.VideoLink</span></h6>
                <hr />
                <p class="card-text text-black">@item.HTMLContent</p>
            </div>
            <div class="mb-3 mt-3">
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Update</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>

            </div>
        </div>

    }

</div>